@charset "utf-8";
/* CSS Document */ 
{
argin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color:gainsboro;
    width: 100%;
    max-width: 1200px;
    padding: 40px;
    margin: 20px;
    text-align: center;
}

/* INDEX */
.datos {
    color: #444;
    font-style: bold;
    font-size: 60px;
}

h2{

}

/* DISEÑOS */
.cambio {
    color:white;
    background:#444;
    font-style: bold;
    font-size: 60px;
}

/* CONTACTO */
.cambio {
    color:white;
    background:#444;
    font-style: bold;
    font-size: 60px;
}

/* HABILIDADES */
.habilidades {
    flex: 1;
    background-color:gainsboro;
    padding: 15px;
    border-radius: 8px;
}

.info-item h3 {
    color: #444;
    margin-bottom: 10px;
}


.botonera {
    background-color:#444;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin: 20px;
    color: white;
    font-size: 14px;
    flex-wrap: wrap;
}

main.contenedor {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    color:#444;
    background: white;
}

/* FOTO + PRESENTACIÓN */
.presentacion {
    display: flex;
    gap: 20px;
    align-items: center;
    color:#444;
    background: white;
}


.texto-presentacion p {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
    background: white
}

/* EDUCACIÓN */
.educacion {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.edu-item {
    flex: 1;
    background-color:gainsboro;
    padding: 10px;
    border-radius: 8px;
}

.edu-item h3 {
    color: #555;
    margin-bottom: 5px;
}

/* EXPERIENCIA + PROYECTOS + PROGRAMAS */
.info-final {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.info-item {
    flex: 1;
    background-color:gainsboro;
    padding: 15px;
    border-radius: 8px;
}

.info-item h3 {
    color: #444;
    margin-bottom: 10px;
}

.info-item ul {
    margin-left: 20px;
    list-style-type: disc;
}

.no-info {
    display: flex;
    gap: 20px;
}

aside {
    display: flex ;
    flex-direction: column;
    justify-content: center;
    column-gap: 20px; 
    color: white;
    padding: 30px;
    margin-left: auto;
    border-radius: 8px;
    background-color:#444;
    margin-right: 50px;
}

article {
    display: flex ;
    flex-direction: column;
    justify-content: center;
    column-gap: 20px; 
    color: #444;
    padding: 25px;
    border-radius: 8px;
    background-color:white;
    gap: 20px;
}

/* FORMULARIO DE CONTACTO */
form {
width: 100%;
height: auto;
border: 1px solid black;
display: flex;
flex wrap: wrap;
}

form div {
    width: 50%;
    height: auto;
    padding: 20px;
}

label {
    display: block; 
    height: 25px;
    background-color: gainsboro;
}

input {
    width: 100%;
    background-color: #444;
    margin-bottom: 5px;
}

input [ type=radio ], input [ type=chackbox ] {
    width: auto;
    height: auto;
}

input [ type=submit ], input [ type=reset ] {
    height: 30px;
    width: 150;
    color: #fff;
}

.borrar {
background-color: #555;
}

.enviar{
    background-color: #000;
    margin: 0px 20px 0px 10px;
}

footer {
    background-color:gainsboro;
    color:#444;
    text-align:right;
    padding: 15px;
    width: 100%;
    max-width: 1200px;
    margin-top: 30px;
    }